@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
*{
    font-family:'Poppins','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Verdana', 'sans-serif';
}
@theme{
    --color-akash-100:oklch(54.44% 0.1373 269.29);
    --color-akash-200:#835399;
    --color-akash-300:#965399;
    --color-akash-400:#985399;
}
main{
    min-height: 80vh;
}